<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
  <button id="logout">logout</button>
  <h1>YOU MADE IT TO THE DASHBOARD!</h1>
  <button id="get-settings">get settings</button>
  <form>
    <input id="mode" />
    <input type="submit" />
  </form>
  <script>
    document.querySelector('#logout').addEventListener('click', async () => {
      const response = await fetch("/signout", {
        method: "get",
        mode: "cors",
        credentials: "same-origin",
      });

      if (response.ok) {
        window.location.pathname = "/signin"
      }
    });

    document.querySelector('#get-settings').addEventListener('click', async () => {
      const response = await fetch("/settings", {
        method: "GET",
        mode: "cors",
        credentials: "same-origin",
        headers: {
          "Accept": "application/json",
        },
      });
      
      if (response.ok) {
        const settings = await response.json();
        console.log(settings);
      }
    });

    async function sendSettings(event) {
      const mode = document.querySelector('#mode');
      event.preventDefault();
      const response = await fetch("/settings", {
        method: "POST",
        mode: "cors",
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ mode: mode.value }),
      });
      if (response.ok) {
         console.log('Sent settings!');
      }
    }
    document.querySelector('form').addEventListener('submit', sendSettings);
  </script>
</body>

</html>
