<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Signin!</title>
</head>
<body>
  <!-- multer -->
  <form method="POST" >
    <div id="error"></div>
    <label for="email">email</label>
    <input name="email" id="email" />

    <label for="password">password</label>
    <input name="password" id="password" type="password" />

    <input type="submit" />
  </form>
</body>
</html>